@font-face {
  font-family: 'CursedTimerUlil';
  src: url('CursedTimerUlil-Aznm.ttf');
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0;
    background: #1B244A;
}

h3 {
    font-size: 2em;
}

/* Container div that contains all other elements */
.container {
    display: flex;
    justify-content: space-around;
    min-width: 400px;
    max-width: 800px;
    height: 100vh;
    margin: auto;
}

/* Title of each column (HOME and GUEST) */
.board-title {
    color: #fff;
    text-align: center;
}

/* Div containing the score text */
.score {
    width: 160px;
    margin-top: -40px;
    margin-bottom: -40px;
    border-radius: 5px;
    background: #000;
}

/* Paragraph containing the actual text with the current points */
.points-text {
    font-family: 'CursedTimerUlil';
    color: #F94F6D;
    padding: 10px;
    text-align: center;
    font-size: 60px;
}

/* Start of button styling */
button {
    font-family: 'CursedTimerUlil';
    background: transparent;
    color: #9AABD8;
    border: 1px solid #9AABD8;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    height: 50px;
    width: 50px;
}

button:hover {
    transform: scale(1.1);
    transition: transform .1s;
}

button:active {
    background: #9AABD8;
    color: #1B244A;
    transition: background .1s, color .1s;
}
/* End of button styling */
